@import "vars";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 8px;
    line-height: 8px;
}
@mixin center_sb() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@mixin center_center() {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
%fontTextNormal{
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.center{
    padding-left: calc(50% - $widthcontent / 2);
    padding-right: calc(50% - $widthcontent / 2);
}

@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family: "Lato-Black";
    src: url(fonts/Lato-Black.woff) format("woff");
}


.navigation{
    @include center_sb();
    background: $bgcolorNavFooter;
    padding-top: 18px;
    padding-bottom: 18px;
    &_label{
        @include center_sb();
        width: 111px;
    }
    &_nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 160px;
        height: 37px;
        padding-right: 5px;
    }
}
.order_img{
    position: absolute;
    right: 0;
    top: 0;
    &_number{
        font-family: "Lato-Regular";
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $colorwhite;
        position: absolute;
        top: 3px;
        left: 5px;
    }
}

.header{
    background:#F8F3F4;
    margin-bottom: 51px;
    &_center{
        @include center_sb();
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.header_left{
    display: flex;
    justify-content: start; 
    align-items: center;
    &_content{
        font-family: "Lato-Regular";
        font-size: 3rem;
        line-height: 3.5rem;
        color: $baseColor;
    }

}
.header_right{
    display: flex;
    justify-content: end; 
    align-items: center;
    gap: 3px;
    &_link{
        text-decoration: none;
        @extend %fontTextNormal;
        color: #636363;
        
    }
    &_link:hover{
        color: $baseColor;
    }
}

.main{
    margin-bottom: 95px;
    &_menu{
        margin-bottom: 64px;
        display: flex;
        justify-content:flex-start;
    }
    &_item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
        margin-bottom: 48px;
    }
    &_page_list{
        display: flex;
        justify-content: center;
        &_box{
            border: $border;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            padding: 13px;
            width: 284px;
        }
        
    }
}
.num_page{
    
    &_link{
        color:$colortext;
    }
    &_link:hover, &_link:hover path{
        color:$baseColor;
        fill:$baseColor;
    }
}
.menu_left{
    position: relative;
}    
.details_left{
    position: absolute;
    background-color: $colorwhite;
    &_list{
        padding: 6px 17px 24px 17px;
        li{
            margin-bottom: 11px;
            list-style: none;
            color: $colortext;
            @extend %fontTextNormal;
        }
    }
}


.details_left[open], .details_left[open] path{
    padding: 16px 13px 16px 16px;
    border: $border;
    box-shadow: 6px 4px 35px 0px #00000036;
    fill: $baseColor;
}
.details_left[open] .summary_left_span{
    color: $baseColor;
}    
.summary_left{
    display: flex;
    gap: 11px;
    width: 360px;
    margin-bottom: 16px;
    font-family: "Lato-Bold";
    font-size: 1.75rem;
    line-height: 2rem;
}
.details_left_subtitle{
    display: flex;
    padding: 11px 238px 11px 11px;
    border-left: 5px solid $baseColor;
    border-bottom: $border;
    margin-bottom: 18px;
    color: $colortext;
    font-family: "Lato-Regular";
    font-size: 1.75rem;
    line-height: 2rem;
}
.subdetails_left[open] .subdetails_left_span{
    color: $baseColor;
}

.menu_center{
    @include center_sb();
    margin-left: 390px;
    gap: 28px;
    .details_center{
        position: relative;
        .summary_center{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $colortext;
        @extend %fontTextNormal;
        margin-bottom: 6px;
        }
        .details_center_box{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 9px;
        box-shadow: 6px 4px 35px 0px #00000036;
        width: 79px;
        padding: 6px;
        background-color: $colorwhite;
        }
    }
   
    
}
.details_center_label{
    display: flex;
    gap: 9px;
}
.item{
    background-color: $bgColorImg;
    &_box:hover{
        background: #3A3838DB;
        background-image: url(../imgs/Add\ to\ cart.png);
        background-size: 138px 43px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &_content{
        margin-left: 16px;
    }
    &_img:hover{
    opacity: 0.2;
    }
}




.item_title{
    @extend %fontTextNormal;
    margin-bottom: 12px;
    margin-top: 24px;
}
.item_text{
    @extend %fontTextNormal;
    color: #5D5D5D;
    margin-bottom: 18px;
}
.item_price{
    @extend %fontTextNormal;
    color: $baseColor;
    margin-bottom: 20px;
}


.footer{
    background: $bgcolorNavFooter;
    &_description{
        display: flex;
        flex-wrap: wrap;
        padding-top: 104px;
        padding-bottom: 104px;
        gap: 30px;
        justify-content: center;
    }
    &_input_background{
        background-image: url(../imgs/background_footer.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
    }
    &_social_network{
        @include center_sb();
    }
}
.description{
    width: 360px;
    text-align: center;
    &_img{
        margin-bottom: 25px;
    }
    &_title{
        font-family: "Lato-Regular";
        font-size: 2.5rem;
        line-height: 3rem;
        color: $colorwhite;
        margin-bottom: 16px;
    }
    &_content{
        @extend %fontTextNormal;
        color: $colorwhite;
    }
}
.input{
    @include center_sb();
    padding-top: 97px;
    &_bloxs{
        margin-bottom: 127px;
        text-align: center;
        width: 360px;
        height: 225px;
    }
    &_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding-left: 104px;
        padding-right: 97px;
    }
}
.avtor_img{
    margin-bottom: 30px;
}
.avtor_content{
    font-family: "Lato-Regular";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.form_title{
    font-family: "Lato-Bold";
    font-size: 3rem;

}
.form_content{
    font-family: "Lato-Regular";
    font-size: 2.25rem;
    margin-bottom: 32px;
}

.form_input{
    @include center_center();
    padding-top: 7px;
    padding-bottom: 7px;
    width: 356px;
    height: 49px;
    &_input{
        background: #E1E1E1;
        @extend %fontTextNormal;
        text-align: center;
        color: $bgcolorNavFooter;
        padding-left: 22px;
        padding-right: 64px;
        border: 1px solid transparent;
        border-top-left-radius: 15% 30%;
        border-bottom-left-radius: 15% 30%;
    }
   &_button{
        background: $baseColor;
        @extend %fontTextNormal;
        text-align: center;
        color: $colorwhite;
        padding-left: 8px;
        padding-right: 7px;
        border: 1px solid transparent;
        border-top-right-radius: 15% 30%;
        border-bottom-right-radius: 15% 30%;
    }
}

.social_network1{
    color: $colorwhite;
    @extend %fontTextNormal;

}
.social_network2{
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-bottom: 24px;
    margin-top: 24px;
    &_boxs{
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: $colorwhite;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &_boxs:hover{
        background: $baseColor;
    }
    &_boxs:hover path{
        fill: $colorwhite;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }  
    .main{
        &_menu{
            justify-content: space-between;
        }
        
        &_item{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
    }
    
    .input{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 48px;
    }
        
    .input_form{
        margin-bottom: 140px;
    }
}   