*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family: "Lato-Black";
    src: url(fonts/Lato-Black.woff) format("woff");
}

.navigation{
    display: flex;
    justify-content: space-between;
    background: #222222;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.label{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 111px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 160px;
}

.header{
    background: #F1E4E6;
    margin-bottom: 65px;
    
}

.header2{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-right: calc(50% - 570px);
    gap: 64px;
}
.header_iimg{
    width:auto;
}
.header_content{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    text-align: center;
    height: 92px;
    
}
.header_title{
    font-family: "Lato-Black";
    font-size: 48px;
    line-height: 58px;
    text-align: left;
}
.header_title_content{
    font-family: Lato;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
}
.header_span{
    font-family: Lato;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #F16D7F;
}


.offer_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 96px;
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer4{
    grid-column: 1/4;
}
.offer_content{
    text-align: center;
    font-family: "Lato-Black";
    font-size: 18px;
    line-height: 21px;
    color: white;
    position:absolute;
    z-index: 1;
}
.offer_content_title{
    font-family: "Lato-Bold";
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.offer{
    position: relative;
}

.products{
    text-align: center;
}

.products_title{
    text-align: center;
    margin-bottom: 48px;
}
.products_title_content{
    font-family: "Lato-Regular";
    font-size: 30px;
    line-height: 36px;
}
.products_content{
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.products_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin-bottom: 48px;
}
.item{
    background-color: #F8F8F8;
}
.item_img{
    margin-bottom: 24px;
}
.item_content{
    margin-left: 16px;
    
}
.item_title{
    font-family: "Lato-Regular";
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
}
.item_text{
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}
.item_price{
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
}
.button{
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 19px;
    padding: 1rem 2rem;
    margin-bottom: 60px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1024px){
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }  
    .header2{
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        padding-right: calc(50% - 368px);
        gap: 39px;
    } 
    .header_iimg{
        width: 386px;
        height: 368px;
    }
    .products_item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        gap: 16px;
        margin-bottom: 32px;
    }
    .header_title{
        font-family: "Lato-Black";
        font-size: 44px;
        line-height: 58px;
        text-align: left;
    }
    .header_title_content{
        font-family: "Lato-Bold";
        font-size: 24px;
        line-height: 38px;
        text-align: left;
    }
    .header_span{
        font-family: "Lato-Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: #F16D7F;
    }
    
    .offer_box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 110px;
    }
    .products_title{
        margin-bottom: 73px;
    }
   
}

   
@media (min-width: 320px) and (max-width: 767px){
    .center{
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
     }
    .header_iimg, .personal_account, .bascet{
        display: none;
      }
    .nav{
        width: auto;
    }
    .header2{
        height: 363px;
        justify-content: center;
      }
    
    .offer_box{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 64px;
    }  
    .offer_img4{
        display: none;
    }
    .offer4{
        width: 343px;
        height: 111px;
        background-image: url(imgs/offer_img4.png);
        background-position: center;
        background-size: cover;
    }
    .products_item{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .item_img2{
        opacity: 0.2;
        
    }
    .item2_box{
        width: 346px;
        height: 418px;
        background: #3A3838DB;
        background-image: url(imgs/Add\ to\ cart.png);
        background-size: 138px 43px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header_title{
        font-family: "Lato-Black";
        font-size: 38px;
        line-height: 58px;
        text-align: left;
    }
    .header_title_content{
        font-family: "Lato-Bold";
        font-size: 20px;
        line-height: 24px;
        text-align: left;
    }
    .header_span{
        font-family: "Lato-Bold";
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #F16D7F;
    }
    .products_title{
        margin-bottom: 64px;;
    }
    .item_title{
        text-align: left;
    }
    .item_text{
        text-align: left;
    }
    .item_price{
        text-align: left;
    }
}
