*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
@font-face {
    font-family: "Regular";
    src: url(fonts/Jost-Regular.woff) format("woff");
}
@font-face {
    font-family: "Bold";
    src: url(fonts/DMSerifDisplay-Regular.woff) format("woff");
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    margin-bottom: 57px;
}
.label{
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.label_name{
    font-family: "Bold";
    font-size: 40px;
}
    
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
}
.link{
    font-family: "Regular";
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.section{
    margin-bottom: 97px;
}
.section_box{
    display: flex;
    align-items: center;
    height: 758px;
    background-image: url(imgs/section_img.png);
    border-radius: 70px;
}
.section_box_content{
    display: flex;
    margin-left: 52px;
    flex-direction: column;
    gap: 18px;
    width: 595px;
}
.section_title{
    font-family: "Bold";
    font-size: 65px;
}
.section_content{
    font-family: "Regular";
    font-size: 22px;
}
.section_button{
    font-family: "Regular";
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 26px 48px;
    border-radius: 25px;
    width: 200px;
}
.article{
    margin-bottom: 96px;
}
.article_box{
    text-align: center;
    margin-bottom: 93px;
}
.article_box_title{
    font-family: "Bold";
    font-size: 50px;
}
.article_box_content{
    font-family: "Regular";
    font-size: 22px;
}
.article_projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    row-gap: 56px;
}
.projects_item_img{
    margin-bottom: 24px;
}
.item_title{
    font-family: "Bold";
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.item_content{
    font-family: "Regular";
    font-size: 22px;
}
.article_descriprion{
    display: flex;
    justify-content: space-between;
}
.about{
    background-color: #F4F0EC;
    margin-bottom: 96px;
}
.about_us{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 151px 0px;
   
}
.about_is_item{
    border-right: 1px solid #CDA274;
    padding-right: 60px;

}
.about_us :last-child{
    border: none;
}
.artikle_news_box{
    margin-bottom: 52px;
}
.about_is_item_title{
    text-align: center;
    font-family: "Bold";
    font-size: 85px;
    color: #CDA274;
}
.about_is_item_content{
    text-align: center;
    font-family: "Regular";
    font-size: 22px;
}
.artikle_news_box_title{
    text-align: center;
    font-family: "Bold";
    font-size: 50px;
}
.artikle_news_box_content{
    text-align: center;
    font-family: "Regular";
    font-size: 22px;
}
.artikle_news_items{
    display: flex;
    justify-content: center;
    gap: 27px;
    flex-wrap: nowrap;
    margin-bottom: 33px;
}
.article_news_item{
    padding: 21px;
    border: 1px solid grey;
    border-radius: 40px;
    position: relative;
}
.article_news_item:nth-child(2){
    background-color: #E7E7E7;
}
.flow_box{
    height: 41px;
    width: 129px;
    position:absolute;
    top: 250px;
    left: 41px;
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 0px;
}
.flow_box_content{
    font-family: "Regular";
    font-size: 16px;
}
.article_news_item_img{
    margin-bottom: 21px;
}
.artikle_news_item_title{
    font-family: "Bold";
    font-size: 25px;
    color: black;
    text-decoration: none;
}
.artikle_news_item_dates{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.artikle_news_item_date{
    font-family: "Regular";
    font-size: 16px;
}
.article_news_item_svg{
    border-radius: 50%;
    background-color: #F4F0EC;
}