*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family: "Lato-Black";
    src: url(fonts/Lato-Black.woff) format("woff");
}

.navigation{
    display: flex;
    justify-content: space-between;
    background: #222222;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.label{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 111px;
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 160px;
    height: 37px;
    padding-right: 5px;
}
.order_img{
    position: absolute;
    right: 0;
    top: 0;
}
.number_order{
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 14px;
    color: white;
    position: absolute;
    top: 3px;
    left: 5px;
}

.header{
    background: #F1E4E6;
    margin-bottom: 65px;
    display: flex;
    position:relative;
}
.header2{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: calc(50% - 800px);
    gap: 64px;
}
.header_iimg{
    width:auto;
}
.header_content{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    text-align: center;
    height: 92px;
    
}
.header_title{
    font-family: "Lato-Black";
    font-size: 48px;
    line-height: 58px;
    text-align: left;
}
.header_title_content{
    font-family: "Lato-Bold";
    font-size: 32px;
    line-height: 38px;
    text-align: left;
}
.header_span{
    font-family: "Lato-Bold";
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    color: #F16D7F;
}
.dop_content{
    display: none;
    width: 232px;
    height: 634px;
    padding-left: 32px;
    padding-top: 32px;
    margin-left: 99px;
    background-color: white;
    position: absolute;
    right: calc(50% - 802px);
}
.dop_title_content{
    font-family: "Lato-Bold";
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-bottom: 24px;
}
.list{
    margin-bottom: 20px;
}
.figcaption{
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
}
li{
    font-family: "Lato-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #6F6E6E;
    list-style-type: none;
    padding-left: 21px;
    margin-bottom: 12px;
}
.header2:hover+.dop_content{
    display: block;
}
.offer_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 96px;
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer4{
    grid-column: 1/4;
}
.offer_content{
    text-align: center;
    font-family: "Lato-Black";
    font-size: 18px;
    line-height: 21px;
    color: white;
    position:absolute;
    z-index: 1;
}
.offer_content_title{
    font-family: "Lato-Bold";
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.offer{
    position: relative;
}

.products{
    text-align: center;
}

.products_title{
    text-align: center;
    margin-bottom: 48px;
}
.products_title_content{
    font-family: "Lato-Regular";
    font-size: 30px;
    line-height: 36px;
}
.products_content{
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.products_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin-bottom: 48px;
}
.item{
    background-color: #F8F8F8;
}
.item_img:hover{
    opacity: 0.2;
}
.item_box:hover{
   
    background: #3A3838DB;
    background-image: url(imgs/Add\ to\ cart.png);
    background-size: 138px 43px;
    background-repeat: no-repeat;
    background-position: center;
}
.item_content{
    margin-left: 16px;
    
}
.item_title{
    font-family: "Lato-Regular";
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
    margin-top: 24px;
}
.item_text{
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}
.item_price{
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
}
.button{
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 19px;
    padding: 1rem 2rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.button:hover{
    background-color: #F26376;
    color: white;
}
.main{
    margin-bottom: 95px;
}
.footer{
    background: #222224;
}
.footer_description{
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;
    justify-content: space-between;
}
.description_bloxs{
    width: 360px;
    height:134px;
    text-align: center;
}
.description_img{
    margin-bottom: 25px;
}
.description_title{
    font-family: "Lato-Regular";
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;

}
.description_content{
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}
.footer_input_background{
    background-image: url(imgs/background_footer.png);
    background-size: cover;
    background-position: center;
}
.footer_input{
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
    align-items: center;
}
.avtor{
    margin-bottom: 127px;
    text-align: center;
    width: 360px;
    height: 225px;
}

.avtor_img{
    margin-bottom: 30px;
}
.avtor_content{
    font-family: "Lato-Regular";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}
.form{
    text-align: center;
    width: 557px;
    height: 142px;
    padding-left: 104px;
    padding-right: 97px;
}
.form_title{
    font-family: "Lato-Bold";
    font-size: 24px;
    letter-spacing: 0em;
}
.form_content{
    font-family: "Lato-Regular";
    font-size: 18px;
    margin-bottom: 32px;
    letter-spacing: 0em;
}

.form_input{
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 356px;
    height: 49px;
   
}
.form_input_input{
    background: #E1E1E1;
    font-family: "Lato-Regular";
    font-size: 14px;
    text-align: center;
    color: #222224;
    padding-left: 22px;
    padding-right: 64px;
    border: 1px solid transparent;
    border-top-left-radius: 15% 30%;
    border-bottom-left-radius: 15% 30%;
}
.form_input_button{
    background: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 8px;
    padding-right: 7px;
    border: 1px solid transparent;
    border-top-right-radius: 15% 30%;
    border-bottom-right-radius: 15% 30%;
}
.footer_social_network{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_network1{
    color: #FBFBFB;
    font-family:"Lato-Regular";
    font-size: 16px;
}
.social_network2{
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-bottom: 24px;
    margin-top: 24px;
}
.network_boxs{
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}
.network_boxs:hover{
    background: #F16D7F;
}
.network_boxs:hover path{
    fill: white;
}
.img_width{
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px){
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }  
    .header2{
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        padding-right: calc(50% - 368px);
        gap: 39px;
    } 
    .header_iimg{
        width: 386px;
        height: 368px;
    }
    .products_item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, auto);
        gap: 16px;
        margin-bottom: 32px;
    }
    .header_title{
        font-family: "Lato-Black";
        font-size: 44px;
        line-height: 58px;
        text-align: left;
    }
    .header_title_content{
        font-family: "Lato-Bold";
        font-size: 24px;
        line-height: 38px;
        text-align: left;
    }
    .header_span{
        font-family: "Lato-Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: #F16D7F;
    }
    
    .offer_box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 110px;
    }
    .products_title{
        margin-bottom: 73px;
    }
    .footer_description{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 48px;
        gap: 48px;
        padding-bottom: 64px;
        margin-bottom: 48px;
    }
    .footer_input{
        flex-wrap: wrap;
        justify-content: center;
    }
    .avtor{
        margin-bottom: 48px;
    }
    .form{
        margin-bottom: 140px;
    }
    .header2:hover+.dop_content{
        display: none;
    }
}

   
@media (min-width: 320px) and (max-width: 767px){
    .center{
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
     }
    .header_iimg, .personal_account, .bascet{
        display: none;
      }
      .header2{
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
      }
      
    .nav{
        width: auto;
    }
    .header2{
        height: 363px;
        justify-content: center;
      }
    
    .offer_box{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 64px;
    }  
    .offer_img4{
        display: none;
    }
    .offer4{
        width: 343px;
        height: 111px;
        background-image: url(imgs/offer_img4.png);
        background-position: center;
        background-size: cover;
    }
    .products_item{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .header_title{
        font-family: "Lato-Black";
        font-size: 38px;
        line-height: 58px;
        text-align: left;
    }
    .header_title_content{
        font-family: "Lato-Bold";
        font-size: 20px;
        line-height: 24px;
        text-align: left;
    }
    .header_span{
        font-family: "Lato-Bold";
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #F16D7F;
    }
    .products_title{
        margin-bottom: 64px;;
    }
    .item_title{
        text-align: left;
    }
    .item_text{
        text-align: left;
    }
    .item_price{
        text-align: left;
    }
    .footer_description{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 48px;
        gap: 48px;
        padding-bottom: 64px;
        margin-bottom: 48px;
    }
    .footer_input{
        flex-wrap: wrap;
        justify-content: center;
    }
    .avtor{
        margin-bottom: 48px;
    }
    .form{
        margin-bottom: 140px;
    }
    .footer_social_network{
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
    }
    .order_img{
        display: none;
    }
    .header2:hover+.dop_content{
        display: none;
    }
}
