@import "vars";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 8px;
    line-height: 8px;
}
@mixin center_sb() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@mixin center_center() {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
%fontTextNormal{
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.center{
    padding-left: calc(50% - $widthcontent / 2);
    padding-right: calc(50% - $widthcontent / 2);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family: "Lato-Black";
    src: url(fonts/Lato-Black.woff) format("woff");
}


.navigation{
    @include center_sb();
    background: $bgcolorNavFooter;
    padding-top: 18px;
    padding-bottom: 18px;
    &_label{
        @include center_sb();
        width: 111px;
    }
    &_nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 160px;
        height: 37px;
        padding-right: 5px;
    }
}

.dop_content{
    display: none;
    position: absolute;
    top: 200px;
    width: 232px;
    height: 634px;
    padding-left: 32px;
    padding-top: 32px;
    background-color: white;
    border: $border;
    transition: 0.6s;
}
.dop_title_content{
    font-family: "Lato-Bold";
    font-size: 1.75rem;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 24px;
}
.list{
    margin-bottom: 20px;
}
.figcaption{
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 1.75rem;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 12px;
}
li{
    font-family: "Lato-Regular";
    font-size: 1.75rem;
    line-height: 2rem;

    color: #6F6E6E;
    list-style-type: none;
    padding-left: 21px;
    margin-bottom: 12px;
}
.boorger_img:hover+.dop_content{
    display: block;
    right: -232px;
}
.order_img{
    position: absolute;
    right: 0;
    top: 0;
    &_number{
        font-family: "Lato-Regular";
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $colorwhite;
        position: absolute;
        top: 3px;
        left: 5px;
    }
}

.header{
    background:#F8F3F4;
    margin-bottom: 96px;
    &_center{
        @include center_sb();
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.header_left{
    display: flex;
    justify-content: start; 
    align-items: center;
    &_content{
        font-family: "Lato-Regular";
        font-size: 3rem;
        line-height: 3.75rem;
        color: $baseColor;
    }

}

.main_menu{
    margin-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 128px;
    &_left{
        display: flex;
        flex-direction: column;
        width: 652px;
        gap: 40px;
    }
    &_right{
        display: flex;
        flex-direction: column;
        width: 360px;
        gap: 40px;
    }
}


.mainbox_product{
    display: flex;
    border: 1px solid #EAEAEA;
    transition: 0.6s;  
    position: relative;
}
.mainbox_product:hover{
    box-shadow: 17px 19px 24px 0px #00000021;
}

.main_product_img{
    margin-right: 31px;
}
.main_box_product_content{
    margin-top: 22px;
    margin-right: 57px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .product_title{
        font-family: "Lato-Regular";
        font-size: 3rem;
        line-height: 3.75rem;
        color: $bgcolorNavFooter;
        margin-bottom: 42px;
    }
    .content{
        font-family: "Lato-Regular";
        font-size: 2.75rem;
        line-height: 3.25rem;
        color: $colortext;
        margin-bottom: 6px;
    }
    .product_content_span{
        color: $baseColor;
    }
    .input{
        font-family: "Lato-Regular";
        font-size: 2.75rem;
        line-height: 3.25rem;
        color: $colortext;
        margin-bottom: 6px;
    }
    input[type="number"]{
        width: 44px;
        margin-left: 24px;
        border: 1px solid #EAEAEA;
    }
    input[type="number"]:focus{
        
        border: 1px solid #EAEAEA;
    }
}
.product_content_svg{
    position: absolute;
    top: 28px;
    right: 24px;
}

.mainbox_form{
    padding: 17px 0px;
    
    &_title{
        font-family: "Lato-Regular";
        font-size: 2rem;
        line-height: 2.5rem;
        color: $bgcolorNavFooter;
        margin-bottom: 20px;
    }
    .box_form{
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .form_input{
            border: 1px solid #A4A4A4;
        }
        .form_input::placeholder{
            font-family:"Lato-Regular";
            font-size: 1.75rem;
            line-height: 2rem;
            text-align: left;
            color: #B1B1B1;
            padding-left: 12px;
        }
        .form_button{
            border: 1px solid #A4A4A4;
            padding: 10px 12px;
            font-family:"Lato-Regular";
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: #B1B1B1;
            background: $colorwhite;
            transition: 0.6s;

        }
        .form_button:hover{
            color: $colorwhite;
            background-color: $baseColor;
            border: none;
        }
    }
}
.mainbox_total_price{
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; 
    background-color: #F5F3F3;   
    .total_price_content{
        width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end; 
        gap: 12px; 
        padding-bottom: 21px;
        border-bottom: $border;
        margin-bottom: 17px;
        .price_content1{
            font-family:"Lato-Regular";
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: $colortext;
        }
        .price_content2{
            font-family: "Lato-Bold";
            font-size: 2rem;
            line-height: 2.5rem;
            color: $colortext;
        }
    }
    .total_price_button{
        width: 275px;
        text-align: center;
        
        .price_button{
            padding: 15px 41px;
            font-family:"Lato-Regular";
            font-size: 2rem;
            line-height: 2.5rem;
            color: $colortext;
            background-color: white;
            border: 1px solid #A4A4A4;
            transition: 0.6s;
           
        }
        .price_button:hover{
            color: $colorwhite;
            background-color: $baseColor;
            border: none;
        }
    }
    .mainbox_nav{
        display: flex;
        justify-content: space-between;
    }
    
    
}
.summa{
    padding-left: 20px;
}
.summa2{
    color: $baseColor
}
.mainbox_nav{
    display: flex;
    justify-content: space-between;
    .nav_button{
        padding: 17px 40px;
        background-color: $colorwhite;
        border: 1px solid #A4A4A4;
        transition: 0.6s;
    }
    .nav_button:hover{
        background-color: $baseColor;
        border: 1px solid #A4A4A4;
        color: $colorwhite;

    }
}

.footer{
    background: $bgcolorNavFooter;
    &_input_background{
        background-image: url(../imgs/background_footer.png);
        background-size: cover;
        background-position: center;
    }
    &_social_network{
        @include center_sb();
    }
}

.input_footer{
    @include center_sb();
    padding-top: 97px;
    &_bloxs{
        margin-bottom: 127px;
        text-align: center;
        width: 360px;
        height: 225px;
    }
    &_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-left: 104px;
        padding-right: 97px;
    }
}
.avtor_img{
    margin-bottom: 30px;
}
.avtor_content{
    font-family: "Lato-Regular";
    font-size: 2.5rem;
    font-style: italic;
    line-height: 3rem;
}

.form_title{
    font-family: "Lato-Bold";
    font-size: 3rem;
}
.form_content{
    font-family: "Lato-Regular";
    font-size: 2.25rem;
    margin-bottom: 32px;
}

.form_input{
    @include center_center();
    padding-top: 7px;
    padding-bottom: 7px;
    width: 356px;
    height: 49px;
    &_input{
        background: #E1E1E1;
        @extend %fontTextNormal;
        text-align: center;
        color: $bgcolorNavFooter;
        padding-left: 22px;
        padding-right: 64px;
        border: 1px solid transparent;
        border-top-left-radius: 15% 30%;
        border-bottom-left-radius: 15% 30%;
    }
   &_button{
        background: $baseColor;
        @extend %fontTextNormal;
        text-align: center;
        color: $colorwhite;
        padding-left: 8px;
        padding-right: 7px;
        border: 1px solid transparent;
        border-top-right-radius: 15% 30%;
        border-bottom-right-radius: 15% 30%;
    }
}

.social_network1{
    color: $colorwhite;
    @extend %fontTextNormal;

}
.social_network2{
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-bottom: 24px;
    margin-top: 24px;
    &_boxs{
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: $colorwhite;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &_boxs:hover{
        background: $baseColor;
    }
    &_boxs:hover path{
        fill: $colorwhite;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }  
    .main_menu{
       gap: 64px;
       &_left{
        width: 734px;
       }
       &_right{
        gap:15px;
        flex-direction: row;
       }
       .mainbox_total_price{
        margin-top: 54px;
       }
    }
    
    .header{
        margin-bottom: 59px;
    }
    
    .input_footer{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 48px;
    }
        
    .input_form{
        margin-bottom: 140px;
    }
}   