* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social_network1, .form_input_button, .form_input_input {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
  font-family: "Lato-Bold";
  src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
  font-family: "Lato-Black";
  src: url(fonts/Lato-Black.woff) format("woff");
}
.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #222222;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navigation_label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 111px;
}
.navigation_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 160px;
  height: 37px;
  padding-right: 5px;
}

.order_img {
  position: absolute;
  right: 0;
  top: 0;
}
.order_img_number {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  position: absolute;
  top: 3px;
  left: 5px;
}

.header {
  background: #F8F3F4;
  margin-bottom: 96px;
}
.header_center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header_left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header_left_content {
  font-family: "Lato-Regular";
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.main_menu {
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: 652px 360px;
  grid-template-rows: 306px 306px 82px;
  row-gap: 40px;
  -moz-column-gap: 128px;
       column-gap: 128px;
}

.main_box .mainbox_product {
  display: flex;
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
}

.main_product_img {
  margin-right: 31px;
}

.main_box_product_content {
  margin-top: 22px;
  margin-right: 57px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main_box_product_content .product_title {
  font-family: "Lato-Regular";
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}
.main_box_product_content .content {
  font-family: "Lato-Regular";
  font-size: 22px;
  line-height: 26px;
  color: #4D4D4D;
  margin-bottom: 6px;
}
.main_box_product_content .product_content_span {
  color: #F16D7F;
}
.main_box_product_content .input {
  font-family: "Lato-Regular";
  font-size: 22px;
  line-height: 26px;
  color: #4D4D4D;
  margin-bottom: 6px;
}
.main_box_product_content input[type=number] {
  width: 44px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
}
.main_box_product_content input[type=number]:focus {
  border: 1px solid #EAEAEA;
}

.product_content_svg {
  margin-top: 28px;
  margin-right: 57px;
}

.mainbox_form {
  padding: 17px 0px;
}
.mainbox_form_title {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.mainbox_form .box_form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.mainbox_form .box_form .form_input {
  border: 1px solid #A4A4A4;
}
.mainbox_form .box_form .form_input::-moz-placeholder {
  font-family: "Lato-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
  padding-left: 12px;
}
.mainbox_form .box_form .form_input:-ms-input-placeholder {
  font-family: "Lato-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
  padding-left: 12px;
}
.mainbox_form .box_form .form_input::placeholder {
  font-family: "Lato-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
  padding-left: 12px;
}
.mainbox_form .box_form .form_button {
  border: 1px solid #A4A4A4;
  padding: 10px 12px;
  font-family: "Lato-Regular";
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #B1B1B1;
  background: #FFFFFF;
}

.mainbox_total_price {
  padding: 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.mainbox_total_price .total_price_content {
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
  padding-bottom: 21px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 17px;
}
.mainbox_total_price .total_price_content .price_content1 {
  font-family: "Lato-Regular";
  font-size: 11px;
  line-height: 13px;
  color: #4D4D4D;
}
.mainbox_total_price .total_price_content .price_content2 {
  font-family: "Lato-Bold";
  font-size: 16px;
  line-height: 19.2px;
  color: #4D4D4D;
}
.mainbox_total_price .total_price_button {
  width: 275px;
  text-align: center;
  padding: 15px 41px;
  background-color: #F16D7F;
}
.mainbox_total_price .total_price_button .price_button {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}
.mainbox_total_price .mainbox_nav {
  justify-content: space-between;
}

.summa {
  padding-left: 20px;
}

.summa2 {
  color: #F16D7F;
}

.main_box_nav {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #222222;
}
.footer_input_background {
  background-image: url(../imgs/background_footer.png);
  background-size: cover;
  background-position: center;
}
.footer_social_network {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.input_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 97px;
}
.input_footer_bloxs {
  margin-bottom: 127px;
  text-align: center;
  width: 360px;
  height: 225px;
}
.input_footer_form {
  text-align: center;
  width: 557px;
  height: 142px;
  padding-left: 104px;
  padding-right: 97px;
}

.avtor_img {
  margin-bottom: 30px;
}

.avtor_content {
  font-family: "Lato-Regular";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.form_title {
  font-family: "Lato-Bold";
  font-size: 24px;
  letter-spacing: 0em;
}

.form_content {
  font-family: "Lato-Regular";
  font-size: 18px;
  margin-bottom: 32px;
  letter-spacing: 0em;
}

.form_input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 356px;
  height: 49px;
}
.form_input_input {
  background: #E1E1E1;
  text-align: center;
  color: #222222;
  padding-left: 22px;
  padding-right: 64px;
  border: 1px solid transparent;
  border-top-left-radius: 15% 30%;
  border-bottom-left-radius: 15% 30%;
}
.form_input_button {
  background: #F16D7F;
  text-align: center;
  color: #FFFFFF;
  padding-left: 8px;
  padding-right: 7px;
  border: 1px solid transparent;
  border-top-right-radius: 15% 30%;
  border-bottom-right-radius: 15% 30%;
}

.social_network1 {
  color: #FFFFFF;
}

.social_network2 {
  display: flex;
  justify-content: end;
  gap: 7px;
  margin-bottom: 24px;
  margin-top: 24px;
}
.social_network2_boxs {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
}
.social_network2_boxs:hover {
  background: #F16D7F;
}
.social_network2_boxs:hover path {
  fill: #FFFFFF;
}/*# sourceMappingURL=style.css.map */