*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
@font-face {
    font-family: "Regular";
    src: url(../fonts/Jost-Regular.woff) format("woff");
}
@font-face {
    font-family: "Bold";
    src: url(../fonts/DMSerifDisplay-Regular.woff) format("woff");
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    margin-bottom: 45px;
}
.label{
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 31px;
}
.label_name{
    font-family: "Bold";
    font-size: 40px;
}
    
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
}
.link{
    font-family: "Regular";
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.news_box_img{
    text-align: center;
    height: 356px;
    margin-bottom: 200px;
}
.floating_block{
    width: 503px;
    position: sticky;
    top: 100px;
    left: calc(50% - 250px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 41px 78px;
    border-radius: 20px;
}

.section{
    margin-bottom: 97px;
}
.section_title{
    font-family: "Bold";
    font-size: 50px;
    margin-bottom: 27px;
}
.section_img{
    padding: 31px 0 31px 0;
}
.section_box_content{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.section_box-content_box{
    display: flex;
    justify-content: space-between;
    gap: 65px;
    padding-top: px;
    border: 1px solid #E7E7E7;
    border-radius: 30px;
    padding: 22px;
}
.section_box-content_box_content{
    width: 469px;
}
.section_box-content_box_content_title{
    font-family: "Bold";
    font-size: 25px;
    margin-bottom: 22px;
}
.section_box-content_box_content_content{
    font-family: "Regular";
    font-size: 22px;
    margin-bottom: 41px;
}
.artikle_news_item_date{
    font-family: "Regular";
    font-size: 16px;
}
.artikle_news_box_title{
    font-family: "Bold";
    font-size: 50px;
    margin-bottom: 30px;
}


.artikle_news_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    margin-bottom: 33px;
}
.article_news_item{
    display: flex;
    flex-direction: column;
    padding: 21px;
    border: 1px solid #E7E7E7;
    border-radius: 40px;
    position: relative;
    width: 382px;
}
.flow_box{
    height: 41px;
    width: 129px;
    position:absolute;
    top: 250px;
    left: 41px;
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 0px;
}
.flow_box_content{
    font-family: "Regular";
    font-size: 16px;
}
.article_news_item_img{
    margin-bottom: 11px;
}
.artikle_news_item_title{
    font-family: "Bold";
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}
.artikle_news_item_dates{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.artikle_news_item_date{
    font-family: "Regular";
    font-size: 16px;
}
.article_news_item_svg{
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #F4F0EC;
    justify-content: center;
    align-items: center;
}



.footer{
    display: flex;
    justify-content: space-between;
}
.social_network{
    display: flex;
    justify-content: flex-start;
    gap: 54px
}
.social_network_name{
    font-family: "Bold";
    font-size: 18x;
}









.footer_nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer_nav_name{
    font-family: "Bold";
    font-size: 25x;
}
.nav_project{
    font-family: "Regular";
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts_name{
    font-family: "Bold";
    font-size: 25x;
}
.address{
    font-family: "Regular";
    font-size: 22px;
}
.email{
    font-family: "Regular";
    font-size: 22px;
}
.telephone{
    font-family: "Regular";
    font-size: 22px;
}