
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "vars";
@mixin center_sb() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@mixin center_center() {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
html{
    font-size: 8px;
    line-height: 8px;
}
%fontTextNormal{
    font-family: "Lato-Regular", sans-serif;
    font-size: 1.75rem;
    line-height: 2rem;
}
.center{
    padding-left: calc(50% - $widthcontent / 2);
    padding-right: calc(50% - $widthcontent / 2);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(fonts/Lato-Regular.woff) format("woff");
}
@font-face {
    font-family: "Lato-Bold";
    src: url(fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family: "Lato-Black";
    src: url(fonts/Lato-Black.woff) format("woff");
}

nav{
    background: $bgcolorNavFooter;
}
.navigation{
    @include center_sb();
    padding-top: 18px;
    padding-bottom: 18px;
    &_label{
        @include center_sb();
        width: 111px;
    }
    &_nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 160px;
        height: 37px;
        padding-right: 5px;
    }
}
.order_img{
    position: absolute;
    right: 0;
    top: 0;
    &_number{
        font-family: "Lato-Regular";
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $colorwhite;
        position: absolute;
        top: 3px;
        left: 5px;
    }
}

.header{
    background:#F8F3F4;
    &_center{
        @include center_sb();
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.header_left{
    display: flex;
    justify-content: start; 
    align-items: center;
    &_content{
        font-family: "Lato-Regular";
        font-size: 3rem;
        line-height: 3.5rem;
        color: $baseColor;
    }

}
.header_right{
    display: flex;
    justify-content: end; 
    align-items: center;
    gap: 3px;
    &_link{
        text-decoration: none;
        @extend %fontTextNormal;
        color: #636363;
        
    }
    &_link:hover{
        color: $baseColor;
    }
}
.header_span{
    font-family: "Lato-Bold";
    font-size: 4.5rem;
    line-height: 5.5rem;
    text-align: left;
    color: $baseColor;
}


.main{
    margin-bottom: 95px;
    &_img{
        background-color: $bgColorImg;
        @include center_sb();
        border: $border;
        margin-bottom: 664px;
    }
    &_basket{
        margin-left: calc(50% - $widthcontent / 2);
        margin-right: calc(50% - $widthcontent / 2);
        position: fixed;
        top: 50%;
        border: $border;
        @include center_center();
        flex-direction: column;
        padding: 65px 292px;
        background-color: $colorwhite;
    }
    &_item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
        margin-bottom: 48px;
    }
    
}

.bloks1, .bloks3{
    background: #2A2A2A26;
    padding: 13px;
    .next{
        display: block;
        padding: 5px;
    }
}
.bloks2{
    margin-top: 11px;
    margin-bottom: 42px;
    .main_center_img{
        width: 100%;
    }
}
.bloks1:hover path, .bloks3:hover path{
    fill: $baseColor;
}

.basket_content{
    border-bottom: $border;
    padding-bottom: 65px;
    text-align: center;
    margin-bottom: 65px;
    &_section{
        @extend %fontTextNormal;
        color: $baseColor;
        margin-bottom: 12px;
    }
    .hr_line{
        margin-bottom: 12px;
    }
    &_title{
        font-family: "Lato-Regular";
        font-size: 2.2rem;
        line-height: 2.75rem;
        color: $colortext;
        margin-bottom: 49px;
    }
    &_description{
        @extend %fontTextNormal;
        color: $colortext;
        margin-bottom: 32px;
        text-align: center;
    }
    &_summa{
        font-family: "Lato-Regular";
        font-size: 3rem;
        line-height: 3.5rem;
        color: $baseColor;
    }
}
.basket_choose{
    @include center_center();
    margin-bottom: 48px;
    gap: 23px;
    &_select{
        @include center_sb();
        gap: 10px;
    }  
}    
.select_text{
    @extend %fontTextNormal;
    color:$colortext;
}   
.basket_button{
    @include center_center();
    border: $borderPink;
    padding-left: 24px;
    &_content{
        padding-right: 37px;
        padding-left: 23px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $baseColor;
        font-family: "Lato-Regular";
        font-size: 2rem;
        line-height: 2.5rem;

    }
    
}


.item{
    background-color: $bgColorImg;
    &_box:hover{
        background: #3A3838DB;
        background-image: url(imgs/Add\ to\ cart.png);
        background-size: 138px 43px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &_content{
        margin-left: 16px;
    }
}
.item_img:hover{
    opacity: 0.2;
}


.item_title{
    @extend %fontTextNormal;
    margin-bottom: 12px;
    margin-top: 24px;
}
.item_text{
    @extend %fontTextNormal;
    color: #5D5D5D;
    margin-bottom: 18px;
}
.item_price{
    @extend %fontTextNormal;
    color: $baseColor;
    margin-bottom: 20px;
}

.footer{
    background: $bgcolorNavFooter;
    &_input_background{
        background-image: url(imgs/background_footer.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
    }
    &_social_network{
        @include center_sb();
    }
}

.description_bloxs{
    width: 360px;
    height:134px;
    text-align: center;
    &_img{
        margin-bottom: 25px;
    }
    &_title{
        font-family: "Lato-Regular";
        font-size: 2.5rem;
        line-height: 3rem;
        color: $colorwhite;
        margin-bottom: 16px;
    }
    &_content{
        @extend %fontTextNormal;
        color: $colorwhite;
    }
}
.input{
    @include center_sb();
    padding-top: 97px;
    &_bloxs{
        margin-bottom: 127px;
        text-align: center;
        width: 360px;
        height: 225px;
    }
    &_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-left: 104px;
        padding-right: 97px;
    }
}
.avtor_img{
    margin-bottom: 30px;
}
.avtor_content{
    font-family: "Lato-Regular";
    font-size: 2.5rem;
    font-style: italic;
    line-height: 3rem;
}

.form_title{
    font-family: "Lato-Bold";
    font-size: 3rem;
}
.form_content{
    font-family: "Lato-Regular";
    font-size: 2.25rem;
    margin-bottom: 32px;
}

.form_input{
    @include center_center();
    padding-top: 7px;
    padding-bottom: 7px;
    width: 356px;
    height: 49px;
    &_input{
        background: #E1E1E1;
        @extend %fontTextNormal;
        text-align: center;
        color: $bgcolorNavFooter;
        padding-left: 22px;
        padding-right: 64px;
        border: 1px solid transparent;
        border-top-left-radius: 15% 30%;
        border-bottom-left-radius: 15% 30%;
    }
   &_button{
        background: $baseColor;
        @extend %fontTextNormal;
        text-align: center;
        color: $colorwhite;
        padding-left: 8px;
        padding-right: 7px;
        border: 1px solid transparent;
        border-top-right-radius: 15% 30%;
        border-bottom-right-radius: 15% 30%;
    }
}

.social_network1{
    color: $colorwhite;
    @extend %fontTextNormal;

}
.social_network2{
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-bottom: 24px;
    margin-top: 24px;
    &_boxs{
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: $colorwhite;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &_boxs:hover{
        background: $baseColor;
    }
    &_boxs:hover path{
        fill: $colorwhite;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }  
    .main{
        &_img{
            margin-bottom: 0px;
        }
        &_basket{
            position: static;
            margin: 0px;
            padding: 65px 0px;
            margin-bottom: 129px;
        }
        &_item{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
    }
    
  
    
    .input{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 48px;
    }
        
    .input_form{
        margin-bottom: 140px;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .center{
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
     }
    .header_iimg, .personal_account, .bascet{
        display: none;
    }
    .order_img{
        display: none;
    }
    .navigation_nav{
        justify-content: end;
    }
    .header{
        .header_center{
            flex-direction: column;
            .header_left{
                margin-bottom: 32px;
            }
        }
    }
    .main{
        margin-bottom: 64px;
        &_img{
            margin-bottom: 0px;
            flex-wrap: nowrap;
            height: 624px;
        }
        &_basket{
            position: static;
            margin-bottom: 64px;
        }
        &_item{
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
        }
    } 
    .main_basket{
        position: static;
        margin: 0px;
        padding: 64px 0px;
        margin-bottom: 64px;
    } 
    .input{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 48px;
    }
        
    .input_form{
        margin-bottom: 140px;
        padding: 0px;
    }
    .footer_social_network{
        flex-direction: column;
        .social_network1{
            margin-top: 48px;
        }
    }
}   